<footer class="footer">
    <div class="footer_logo-section">
        <img class="footer_logo" src="https://lh3.googleusercontent.com/hv7bn8g1vi1UVdcJr4rfbzG4OLtJBTBTYwwD5TbI76KbrjX5xMy-Mc0lzuMg8vsm6buTXRKsrSo8M7jb0l6gSAcjz0sz6h-ovHtWeFQ" alt="DEV Logo">
    </div>

    <div class="footer_content">
        <div class="footer_navigation">
            <ul class="footer_list">
                <li class="footer_item"><a mat-button href="https://github.com/alixdehghani" target="_blank" class="footer_link"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
                <li class="footer_item"><a mat-button href="https://www.linkedin.com/in/alid" target="_blank" class="footer_link"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                <li class="footer_item"><a mat-button href="https://stackoverflow.com/users/10854661/alix-dehghani" target="_blank" class="footer_link"><i class="fa fa-stack-overflow" aria-hidden="true"></i> Stackoverfloew</a></li>
                <li class="footer_item"><a mat-button href="https://t.me/AlixD" target="_blank" class="footer_link"> <i class="fa fa-telegram" aria-hidden="true"></i>Telegtam</a></li>
                <li class="footer_item"><a mat-button href="https://wa.me/989331566656" target="_blank" class="footer_link"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</a></li>
            </ul>
        </div>
        <p class="footer_copyright">
                Built by <a href="#" class="footer_link">Ali Dehghani</a> for his prsonal website.
                Copyright &copy; by Ali Dehghani. You are 100% allowed to use this webpage for both personal
                and commercial use, but NOT to claim it as your own design. A credit to the original author, Ali
                Dehghani.
            
        </p>
    </div>
</footer>