<footer class="footer">
    <div class="footer_logo-section">
        <img class="footer_logo" src="https://lh3.googleusercontent.com/hv7bn8g1vi1UVdcJr4rfbzG4OLtJBTBTYwwD5TbI76KbrjX5xMy-Mc0lzuMg8vsm6buTXRKsrSo8M7jb0l6gSAcjz0sz6h-ovHtWeFQ" alt="DEV Logo">
    </div>

    <div class="footer_content">
        <div class="footer_navigation">
            <ul class="footer_list">
                <li class="footer_item"><a mat-button routerLink="/" class="footer_link">Company</a></li>
                <li class="footer_item"><a mat-button routerLink="/" class="footer_link">Contact us</a></li>
                <li class="footer_item"><a mat-button routerLink="/" class="footer_link">Carrers</a></li>
                <li class="footer_item"><a mat-button routerLink="/" class="footer_link">Privacy policy</a></li>
                <li class="footer_item"><a mat-button routerLink="/" class="footer_link">Terms</a></li>
            </ul>
        </div>
        <p class="footer_copyright">
                Built by <a href="#" class="footer_link">Ali Dehghani</a> for his prsonal website.
                Copyright &copy; by Ali Dehghani. You are 100% allowed to use this webpage for both personal
                and commercial use, but NOT to claim it as your own design. A credit to the original author, Ali
                Dehghani.
            
        </p>
    </div>
</footer>