<header class="header">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Ali Dehghani</span>
            <span class="heading-primary--sub">Personal Website</span>
        </h1>
        <!-- <a mat-raised-button routerLink="/" class="header__btn">داستان ها</a> -->
    </div>
</header>

<!-- <main class="main">
    <section class="main__about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Exciting tours for adventurous people
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">You're going to fall in love with nature</h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero
                    repellat quis consequatur
                    ducimus quam nisi exercitationem omnis earum qui.
                </p>

                <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before</h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla deserunt voluptatum nam.
                </p>

                <a href="#" class="btn-text">Learn more &rarr;</a>
            </div>
            <div class="col-1-of-2">
                <div class="composition">                    
                        <img src="../../assets/images/about-1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                        <img src="../../assets/images/about-2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                        <img src="../../assets/images/about-3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>
</main> -->