<nav class="navbar navbar-window">
    <a mat-button routerLink="/" class="navbar-window__title">
        <span class="navbar-window__title-logo-section">
            <img class="navbar-window__title-img" src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" alt="Angular">
            <span class="navbar-window__title-text">Ali Dehghani Personal Website</span>
        </span>
    </a>
    <a mat-button routerLink="/" class="navbar-window__skill">Skills</a>
    <a mat-button routerLink="/" class="navbar-window__projects">Projects</a>
    <a mat-button routerLink="/" class="navbar-window__work-experience">Work Experiences</a>
    <a mat-button routerLink="/" class="navbar-window__education">Education</a>
    <a mat-button routerLink="/" class="navbar-window__ccertificates">Certificates</a>
    <a mat-button routerLink="/" class="navbar-window__about">Aboute me</a>
    <a mat-button href="https://github.com/alixdehghani" target="_blank" class="navbar-window__github">Github</a>
</nav>
<nav class="navbar navbar-mobile">
    <a mat-button routerLink="/" class="navbar-mobile__skill">Skills</a>
    <a mat-button routerLink="/" class="navbar-mobile__projects">Projects</a>
    <a mat-button routerLink="/" class="navbar-mobile__work-experience">Work Experiences</a>
    <a mat-button routerLink="/" class="navbar-mobile__education">Education</a>
    <a mat-button routerLink="/" class="navbar-mobile__ccertificates">Certificates</a>
    <a mat-button routerLink="/" class="navbar-mobile__about">Aboute me</a>
</nav>